<header class="header section-wrapper">
  <div class="section-content-wide">
    <div class="section-gap">

      <h1 class="blog-title center pb-base">
        <a class="blog-link" href="/"> Blog do Luiz </a>
      </h1>
      
      <p class="blog-description pb-base center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam
        neque explicabo sequi, voluptas saepe porro atque provident, reiciendis
        natus harum labore nisi eum consectetur cumque minima dolorem adipisci?
        Dolores?
      </p>

      <div class="search pb-base center">
        <form class="search-form" action="#" method="get">
          <div class="search-content">
            <label class="sr-only" id="search-label" for="search-input">Search</label>
            <input
              class="search-input"
              type="search"
              name="search"
              id="search-input"
              placeholder="Search"
              value="Non risu potius quam oratione eiciendum? Quo pleb "
            >
            <button class="search-btn" type="submit" aria-labelledby="search-label">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>

      <nav class="menu">
        <ul class="menu-items">
          <li class="menu-item">
            <a class="menu-link" href="/post/">Post</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/page/">Page</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">About us</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">Contact</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#">Support</a>
          </li>
        </ul>
      </nav>
      
    </div>
  </div>
</header>

