{% if page_obj and page_obj.has_other_pages %}

<div class="separator"></div>

<div class="pagination-wrapper section-wrapper">
  <div class="pagination-content section-content-wide">
    <div class="pagination-gap section-gap">

      <nav class="pagination-links" aria-label="Pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
              <a title="Page 1" aria-label="Page 1" href="?page=1{{ search_url }}">
                  <i class="fa-solid fa-backward-fast"></i>
              </a>
              <a title="Page {{ page_obj.previous_page_number }}" aria-label="Page {{ page_obj.previous_page_number }}" href="?page={{ page_obj.previous_page_number }}{{ search_url }}">
                <i class="fa-solid fa-circle-chevron-left"></i>
              </a>
            {% else %}
              <span title="Current page" aria-current="page">
                <i class="fa-solid fa-circle-chevron-up"></i>
              </span>          
            {% endif %}

            <span class="current" title="Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}" aria-current="page">
              {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
              <a title="Page {{ page_obj.next_page_number }}" aria-label="Page {{ page_obj.next_page_number }}" href="?page={{ page_obj.next_page_number }}{{ search_url }}">
                <i class="fa-solid fa-circle-chevron-right"></i>
              </a>
              <a title="Page {{ page_obj.paginator.num_pages }}" aria-label="Page {{ page_obj.paginator.num_pages }}" href="?page={{ page_obj.paginator.num_pages }}{{ search_url }}">
                <i class="fa-solid fa-forward-fast"></i>
              </a>
            {% else %}
              <span title="Current page" aria-current="page">
                <i class="fa-solid fa-circle-chevron-up"></i>
              </span>          
            {% endif %}
        </span>
      </nav>
      
    </div>
  </div>
</div>

{% endif %}