<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Explanetur igitur.
  Illa videamus, quae a te de amicitia dicta sunt. Equidem etiam Epicurum, in
  physicis quidem, Democriteum puto.
  <b>Idem iste, inquam, de voluptate quid sentit?</b> Duo Reges: constructio
  interrete.
  <a href="http://loripsum.net/" target="_blank"
    >Est enim effectrix multarum et magnarum voluptatum.</a
  >
</p>

<p>
  Non risu potius quam oratione eiciendum? Quo plebiscito decreta a senatu est
  consuli quaestio Cn. Quae qui non vident, nihil umquam magnum ac cognitione
  dignum amaverunt.
  <a href="http://loripsum.net/" target="_blank">Poterat autem inpune;</a>
</p>

<img loading="lazy" alt="Change me" src="https://picsum.photos/1920/1080/?rand=1" />

<p>
  <i>Quo tandem modo?</i>
  <i>Quod ea non occurrentia fingunt, vincunt Aristonem;</i>
  <a href="http://loripsum.net/" target="_blank"
    >Quod autem ratione actum est, id officium appellamus.</a
  >
  <b>Quid de Pythagora?</b> Quid enim me prohiberet Epicureum esse, si probarem,
  quae ille diceret?
</p>
<pre class="my_code" data-language="javascript">
  (function () {
    // Should user class="my_code" and data-language="python"
    // Tested: xml, css, python and javascript
    // Ex.:
    const codes = document.querySelectorAll('.my_code');

    for (const code of codes) {
      const language = code.dataset.language || null;

      const text = code.textContent || code.innerText;
      const config = {
        value: text,
        tabSize: 2,
        mode: language,
        // language: "TypeScript",
        // mime: "application/typescript",
        theme: 'dracula',
        lineNumbers: true,
        styleActiveLine: true,
        styleActiveSelected: true,
        lineWrapping: false,
        line: true,
        readOnly: true,
        viewportMargin: 50,
        matchBrackets: true,
      };

      const editor = CodeMirror(function (node) {
        code.parentNode.replaceChild(node, code);
      }, config);
    }
  })();</pre
>
<h6>Quis istud, quaeso, nesciebat?</h6>

<p>
  Ne in odium veniam, si amicum destitero tueri. Sed quot homines, tot
  sententiae;
  <a href="http://loripsum.net/" target="_blank"
    >Ut aliquid scire se gaudeant?</a
  >
  Qui autem esse poteris, nisi te amor ipse ceperit?
</p>

<p><img loading="lazy" alt="Change me" src="https://picsum.photos/1920/1080/?rand=2" /></p>

<ul>
  <li>Ratio enim nostra consentit, pugnat oratio.</li>
  <li>Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta.</li>
  <li>
    Manebit ergo amicitia tam diu, quam diu sequetur utilitas, et, si utilitas
    amicitiam constituet, tollet eadem.
  </li>
</ul>

<p>
  Num igitur eum postea censes anxio animo aut sollicito fuisse?
  <code>Bonum liberi: misera orbitas.</code> Ad eas enim res ab Epicuro
  praecepta dantur. Innumerabilia dici possunt in hanc sententiam, sed non
  necesse est. Scaevola tribunus plebis ferret ad plebem vellentne de ea re
  quaeri. Utinam quidem dicerent alium alio beatiorem! Iam ruinas videres.
  <a href="http://loripsum.net/" target="_blank"
    >Ut id aliis narrare gestiant?</a
  >
  Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus
  eriperes P. Claudii libidini, qui tum erat summo ne imperio, dederetur. Si
  verbum sequimur, primum longius verbum praepositum quam bonum.
</p>
<p><img loading="lazy" alt="Change me" src="https://picsum.photos/1920/1080/?rand=3" /></p>

<p>
  Itaque dicunt nec dubitant: mihi sic usus est, tibi ut opus est facto, fac. Si
  longus, levis; At cum de plurimis eadem dicit, tum certe de maximis. Et
  homini, qui ceteris animantibus plurimum praestat, praecipue a natura nihil
  datum esse dicemus? <i>Sed tu istuc dixti bene Latine, parum plane.</i>
  <code>Sed ille, ut dixi, vitiose.</code> Verba tu fingas et ea dicas, quae non
  sentias? Huic ego, si negaret quicquam interesse ad beate vivendum quali
  uteretur victu, concederem, laudarem etiam;
</p>

<blockquote cite="http://loripsum.net">
  Suis cuiusque sensibus sic, ut, contra si quis dicere velit, non audiatur -,
  tamen, ne quid praetermittamus, rationes quoque, cur hoc ita sit, afferendas
  puto.
</blockquote>

<pre class="my_code" data-language="css">
.post-grid-child {
  background: #fff;
  box-shadow: -2px 2px 15px hsl(var(--clr-black) / 0.2);
  transition: transform 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

.post-grid-child:hover {
  transform: scale(1.02);
  box-shadow: -5px 5px 15px hsl(var(--clr-black) / 0.4);
}

.post-grid-text {
  padding: var(--spacing-400);
}

.post-grid-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-350);
  margin-bottom: var(--spacing-300);
  color: hsl(var(--clr-black) / 0.8);
}</pre
>

<h4>Zenonis est, inquam, hoc Stoici.</h4>

<p>
  Sin dicit obscurari quaedam nec apparere, quia valde parva sint, nos quoque
  concedimus; Non igitur potestis voluptate omnia dirigentes aut tueri aut
  retinere virtutem. Omnia contraria, quos etiam insanos esse vultis.
  <mark>Primum in nostrane potestate est, quid meminerimus?</mark> Quid censes
  in Latino fore? Cum autem in quo sapienter dicimus, id a primo rectissime
  dicitur.
</p>

<p>
  <i>Vitae autem degendae ratio maxime quidem illis placuit quieta.</i>
  <code>Quid autem habent admirationis, cum prope accesseris?</code>
  <a href="http://loripsum.net/" target="_blank"
    >Quid igitur, inquit, eos responsuros putas?</a
  >
  Tecum optime, deinde etiam cum mediocri amico. Cur tantas regiones barbarorum
  pedibus obiit, tot maria transmisit? <i>Bork</i>
</p>

<h5>Profectus in exilium Tubulus statim nec respondere ausus;</h5>

<p>
  <a href="http://loripsum.net/" target="_blank">At hoc in eo M.</a> Omnia
  peccata paria dicitis. Recte, inquit, intellegis. Iam id ipsum absurdum,
  maximum malum neglegi. <i>Graccho, eius fere, aequalí?</i> Illis videtur, qui
  illud non dubitant bonum dicere -;
</p>

<img loading="lazy" alt="Change me" src="https://picsum.photos/1920/1080/?rand=4" />

<ul>
  <li>Ut alios omittam, hunc appello, quem ille unum secutus est.</li>
  <li>
    Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus
    eriperes P.
  </li>
  <li>An ea, quae per vinitorem antea consequebatur, per se ipsa curabit?</li>
  <li>Verum hoc idem saepe faciamus.</li>
  <li>Odium autem et invidiam facile vitabis.</li>
  <li>
    Sed haec ab Antiocho, familiari nostro, dicuntur multo melius et fortius,
    quam a Stasea dicebantur.
  </li>
</ul>

<dl>
  <dt><dfn>Bork</dfn></dt>
  <dd>
    Non igitur potestis voluptate omnia dirigentes aut tueri aut retinere
    virtutem.
  </dd>
  <dt><dfn>Perge porro;</dfn></dt>
  <dd>
    Qui autem diffidet perpetuitati bonorum suorum, timeat necesse est, ne
    aliquando amissis illis sit miser.
  </dd>
  <dt><dfn>Quare attende, quaeso.</dfn></dt>
  <dd>Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri.</dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>Sed ad illum redeo.</dd>
</dl>
<p><img loading="lazy" alt="Change me" src="https://picsum.photos/1920/1080/?rand=5" /></p>

<p>
  Quamquam te quidem video minime esse deterritum. Respondeat totidem verbis.
  <a href="http://loripsum.net/" target="_blank">Si longus, levis.</a> Et quidem
  iure fortasse, sed tamen non gravissimum est testimonium multitudinis.
  Sapientem locupletat ipsa natura, cuius divitias Epicurus parabiles esse
  docuit. Sit hoc ultimum bonorum, quod nunc a me defenditur; Quo plebiscito
  decreta a senatu est consuli quaestio Cn.
</p>

<ol>
  <li>Indicant pueri, in quibus ut in speculis natura cernitur.</li>
  <li>
    Itaque primos congressus copulationesque et consuetudinum instituendarum
    voluntates fieri propter voluptatem;
  </li>
  <li>Mene ergo et Triarium dignos existimas, apud quos turpiter loquare?</li>
  <li>Non autem hoc: igitur ne illud quidem.</li>
</ol>

<ul>
  <li>
    Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam
    pollicetur.
  </li>
  <li>Bonum patria: miserum exilium.</li>
  <li>Utram tandem linguam nescio?</li>
  <li>Haec et tu ita posuisti, et verba vestra sunt.</li>
</ul>

<p>
  Bona autem corporis huic sunt, quod posterius posui, similiora. Ego vero volo
  in virtute vim esse quam maximam; Eaedem res maneant alio modo. Sed ne, dum
  huic obsequor, vobis molestus sim. <b>Erat enim res aperta.</b> Quodsi ipsam
  honestatem undique pertectam atque absolutam. Age nunc isti doceant, vel tu
  potius quis enim ista melius? Quae enim adhuc protulisti, popularia sunt, ego
  autem a te elegantiora desidero.
</p>

<h4>Atqui reperies, inquit, in hoc quidem pertinacem;</h4>

<p>
  Cur post Tarentum ad Archytam? At modo dixeras nihil in istis rebus esse, quod
  interesset. Quis non odit sordidos, vanos, leves, futtiles?
  <a href="http://loripsum.net/" target="_blank"
    >Ut in geometria, prima si dederis, danda sunt omnia.</a
  >
  <code>Non est igitur summum malum dolor.</code> Si sapiens, ne tum quidem
  miser, cum ab Oroete, praetore Darei, in crucem actus est.
</p>

<blockquote cite="http://loripsum.net">
  Gracchum patrem non beatiorem fuisse quam fillum, cum alter stabilire rem
  publicam studuerit, alter evertere.
</blockquote>

<p><img loading="lazy" alt="Change me" src="https://picsum.photos/1920/1080/?rand=6" /></p>

<h3>Nam Pyrrho, Aristo, Erillus iam diu abiecti.</h3>

<p>
  Certe, nisi voluptatem tanti aestimaretis.
  <a href="http://loripsum.net/" target="_blank"
    >Urgent tamen et nihil remittunt.</a
  >
  Ergo ita: non posse honeste vivi, nisi honeste vivatur? Qua tu etiam inprudens
  utebare non numquam.
</p>

<h2>Heri, inquam, ludis commissis ex urbe profectus veni ad vesperum.</h2>

<p>
  <i>An hoc usque quaque, aliter in vita?</i>
  <b>Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse;</b> Ampulla
  enim sit necne sit, quis non iure optimo irrideatur, si laboret?
  <b>Haeret in salebra.</b> Illa tamen simplicia, vestra versuta. Varietates
  autem iniurasque fortunae facile veteres philosophorum praeceptis instituta
  vita superabat.
</p>

<ol>
  <li>
    Atqui, inquam, Cato, si istud optinueris, traducas me ad te totum licebit.
  </li>
</ol>

<pre class="my_code">
In omni enim animante est summum aliquid atque optimum, ut
in equis, in canibus, quibus tamen et dolore vacare opus est
et valere;

Quis enim est, qui non videat haec esse in natura rerum
tria?
</pre>

<p>
  Huius, Lyco, oratione locuples, rebus ipsis ielunior. Verum hoc idem saepe
  faciamus.
</p>

<ol>
  <li>Ita multa dicunt, quae vix intellegam.</li>
  <li>
    Hic, qui utrumque probat, ambobus debuit uti, sicut facit re, neque tamen
    dividit verbis.
  </li>
  <li>Teneo, inquit, finem illi videri nihil dolere.</li>
  <li>Si verbum sequimur, primum longius verbum praepositum quam bonum.</li>
</ol>

<dl>
  <dt><dfn>Bork</dfn></dt>
  <dd>Minime vero, inquit ille, consentit.</dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>A primo, ut opinor, animantium ortu petitur origo summi boni.</dd>
  <dt><dfn>Recte dicis;</dfn></dt>
  <dd>
    Quem Tiberina descensio festo illo die tanto gaudio affecit, quanto L.
  </dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>Tu autem negas fortem esse quemquam posse, qui dolorem malum putet.</dd>
</dl>

<pre class="my_code" data-language="python">
import os

os.environ.setdefault('DJANGO_ALLOWED_HOSTS',
                      'abc,  def,      https://www.host.com.br/,  ')

ALLOWED_HOSTS = [
    h.strip() for h in os.getenv('DJANGO_ALLOWED_HOSTS', '').split(',')
    if h.strip()
]

print(ALLOWED_HOSTS)</pre
>

<dl>
  <dt><dfn>Refert tamen, quo modo.</dfn></dt>
  <dd>
    Nonne videmus quanta perturbatio rerum omnium consequatur, quanta confusio?
  </dd>
  <dt><dfn>At certe gravius.</dfn></dt>
  <dd>
    Cum sciret confestim esse moriendum eamque mortem ardentiore studio peteret,
    quam Epicurus voluptatem petendam putat.
  </dd>
  <dt><dfn>Reguli reiciendam;</dfn></dt>
  <dd>
    Sin autem eos non probabat, quid attinuit cum iis, quibuscum re concinebat,
    verbis discrepare?
  </dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>Quamquam te quidem video minime esse deterritum.</dd>
</dl>

<p><img loading="lazy" alt="Change me" src="https://picsum.photos/1920/1080/?rand=8" /></p>

<p>
  Quae hic rei publicae vulnera inponebat, eadem ille sanabat. Alterum
  significari idem, ut si diceretur, officia media omnia aut pleraque servantem
  vivere. In qua quid est boni praeter summam voluptatem, et eam sempiternam?
  Non autem hoc: igitur ne illud quidem. Sic enim censent, oportunitatis esse
  beate vivere. Itaque haec cum illis est dissensio, cum Peripateticis nulla
  sane. Cur tantas regiones barbarorum pedibus obiit, tot maria transmisit? Quid
  vero?
</p>

<pre>
Alii rursum isdem a principiis omne officium referent aut ad
voluptatem aut ad non dolendum aut ad prima illa secundum
naturam optinenda.

Neminem videbis ita laudatum, ut artifex callidus
comparandarum voluptatum diceretur.
</pre>

<h2>Summus dolor plures dies manere non potest?</h2>

<p>
  Bork Equidem, sed audistine modo de Carneade?
  <a href="http://loripsum.net/" target="_blank"
    >Praeteritis, inquit, gaudeo.</a
  >
  Quo studio Aristophanem putamus aetatem in litteris duxisse?
</p>

<pre>
Totum autem id externum est, et quod externum, id in casu
est.

Quam ob rem tandem, inquit, non satisfacit?
</pre>

<blockquote cite="http://loripsum.net">
  Quae quidem adhuc peregrinari Romae videbatur nec offerre sese nostris
  sermonibus, et ista maxime propter limatam quandam et rerum et verborum
  tenuitatem.
</blockquote>

<p>
  <b>At certe gravius.</b> Ad corpus diceres pertinere-, sed ea, quae dixi, ad
  corpusne refers? Mihi enim satis est, ipsis non satis. Tum ille timide vel
  potius verecunde: Facio, inquit.
  <i>Sed ea mala virtuti magnitudine obruebantur.</i> Sed ad haec, nisi molestum
  est, habeo quae velim. Respondent extrema primis, media utrisque, omnia
  omnibus.
</p>

<h1>Facile est hoc cernere in primis puerorum aetatulis.</h1>

<p>
  Piso, familiaris noster, et alia multa et hoc loco Stoicos irridebat: Quid
  enim? An est aliquid, quod te sua sponte delectet? Maximas vero virtutes
  iacere omnis necesse est voluptate dominante. Iam id ipsum absurdum, maximum
  malum neglegi. <code>Aliter enim nosmet ipsos nosse non possumus.</code> Si
  qua in iis corrigere voluit, deteriora fecit.
  <i>Sedulo, inquam, faciam.</i> Age, inquies, ista parva sunt. Quid de
  Pythagora? Ipse Epicurus fortasse redderet, ut Sextus Peducaeus, Sex.
</p>

<h3>Immo videri fortasse.</h3>

<p>
  Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Honesta
  oratio, Socratica, Platonis etiam. Non autem hoc: igitur ne illud quidem. Quid
  de Platone aut de Democrito loquar?
</p>
