<!DOCTYPE html>
<html lang="pt-BR">

<head>
  {% include 'blog/partials/_head.html' %}
  {% block additional_head %}{% endblock additional_head %}
</head>

<body>
  <div class="blog-wrapper">
    {% if site_setup.show_header %}
      {% include 'blog/partials/_header.html' %}
    {% endif %}

    {% block content %}{% endblock content %}
    
    {% if site_setup.show_pagination %}
      {% include 'blog/partials/_pagination.html' %}
    {% endif %}

    {% if site_setup.show_footer %}
      {% include 'blog/partials/_footer.html' %}
    {% endif %}
  </div>
</body>
</html>