{% extends 'blog/base.html' %} 

{% block content %}
<main class="main-content single-post section-wrapper">
  <div class="single-post-content section-content-narrow">
    <div class="single-post-gap section-gap">

      {% if post.cover and post.cover_in_post_content %}
        <div class="single-post-cover pb-base">
          <img 
            loading="lazy" 
            src="{{ post.cover.url }}" 
            alt="{{ post.title }}"
          >
        </div>
      {% endif %}

      <h2 class="single-post-title pb-base center">
        {{ post.title }}
      </h2>

      <div class="post-meta pb-base">
        <div class="post-meta-item">
          <a 
            class="post-meta-link" 
            href="{% url 'blog:created_by' post.created_by.pk  %}"
          >
            <i class="fa-solid fa-user"></i>
            <span>
              {% if post.created_by.first_name %}
                {{ post.created_by.first_name }} 
                {{ post.created_by.last_name }}
              {% else %}
                {{ post.created_by.username }}
              {% endif %}
            </span>
          </a>
        </div>
        <div class="post-meta-item">
          <span class="post-meta-link">
            <i class="fa-solid fa-calendar-days"></i>
            <span>
              {{ post.created_at | date:'d/m/Y \à\s H:i' }}
            </span>
          </span>
        </div>

        {% if post.category %}
          <div class="post-meta-item">
            <a 
              class="post-meta-link" 
              href="{% url 'blog:category' post.category.slug  %}"
            >
              <i class="fa-solid fa-tag"></i>
              <span>
                {{ post.category.name }}
              </span>
            </a>
          </div>
        {% endif %}
      
      </div>

      <p class="single-post-excerpt pb-base">
        {{ post.excerpt | safe }}
      </p>

      <div class="separator"></div>

      <div class="single-post-content">
        {{ post.content | safe  }} 
      
        <div class="post-tags">
          <span>Tags: </span>

          <a class="post-tag-link" href="#">
            <i class="fa-solid fa-link"></i>
            <span>Testando</span>
          </a>

          <a class="post-tag-link" href="#">
            <i class="fa-solid fa-link"></i>
            <span>Atenção</span>
          </a>

          <a class="post-tag-link" href="#">
            <i class="fa-solid fa-link"></i>
            <span>Obrigado</span>
          </a>

          <a class="post-tag-link" href="#">
            <i class="fa-solid fa-link"></i>
            <span>Educação</span>
          </a>

          <a class="post-tag-link" href="#">
            <i class="fa-solid fa-link"></i>
            <span>Python</span>
          </a>

        </div>
        
      </div>
    
    </div>
  </div>
</main>

{% endblock content %}
