:root {
  --clr-white: 213 100% 98%;
  --clr-black: 213 100% 5%;
  --clr-primary: 213 100% 50%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-black));
  font-size: 1.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
